In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("world-happiness-report-2021.csv")

In [159]:
df1=df[['Country name', 'Regional indicator', 'Ladder score',
       'Logged GDP per capita', 'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption']].copy()

In [160]:
df1.head(2)

,Country name,Regional indicator,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,Finland,Western Europe,7.842,10.775,0.954,72.0,0.949,-0.098,0.186
1,Denmark,Western Europe,7.620,10.933,0.954,72.7,0.946,0.030,0.179

In [61]:
df1.set_index("Country name", inplace = True)
df1.head(2)

,Regional indicator,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
Country name,,,,,,,,
Finland,Western Europe,7.842,10.775,0.954,72.0,0.949,-0.098,0.186
Denmark,Western Europe,7.620,10.933,0.954,72.7,0.946,0.030,0.179

In [31]:
df1.reset_index(inplace = True)
df1.head(2)

,Country name,Regional indicator,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,Finland,Western Europe,7.842,10.775,0.954,72.0,0.949,-0.098,0.186
1,Denmark,Western Europe,7.620,10.933,0.954,72.7,0.946,0.030,0.179

In [32]:
df1.set_index("Country name", inplace = True)
df1.head(2)

,Regional indicator,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
Country name,,,,,,,,
Finland,Western Europe,7.842,10.775,0.954,72.0,0.949,-0.098,0.186
Denmark,Western Europe,7.620,10.933,0.954,72.7,0.946,0.030,0.179

In [34]:
df.tail(3)

,Country name,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
146,Rwanda,Sub-Saharan Africa,3.415,0.068,3.548,3.282,7.676,0.552,61.400,0.897,0.061,0.167,2.43,0.364,0.202,0.407,0.627,0.227,0.493,1.095
147,Zimbabwe,Sub-Saharan Africa,3.145,0.058,3.259,3.030,7.943,0.750,56.201,0.677,-0.047,0.821,2.43,0.457,0.649,0.243,0.359,0.157,0.075,1.205
148,Afghanistan,South Asia,2.523,0.038,2.596,2.449,7.695,0.463,52.493,0.382,-0.102,0.924,2.43,0.370,0.000,0.126,0.000,0.122,0.010,1.895

In [36]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 149 entries, Finland to Afghanistan
Data columns (total 8 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Regional indicator            149 non-null    object
 1   Ladder score                  149 non-null    float64
 2   Logged GDP per capita         149 non-null    float64
 3   Social support                149 non-null    float64
 4   Healthy life expectancy       149 non-null    float64
 5   Freedom to make life choices  149 non-null    float64
 6   Generosity                    149 non-null    float64
 7   Perceptions of corruption     149 non-null    float64
dtypes: float64(7), object(1)
memory usage: 10.5+ KB

In [38]:
df1.sample(3)

,Regional indicator,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
Country name,,,,,,,,
North Macedonia,Central and Eastern Europe,5.101,9.693,0.805,65.474,0.751,0.038,0.905
Kenya,Sub-Saharan Africa,4.607,8.361,0.688,60.704,0.779,0.287,0.825
Zambia,Sub-Saharan Africa,4.073,8.145,0.708,55.809,0.782,0.061,0.823

In [39]:
df1.describe()

,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
count,149.000000,149.000000,149.000000,149.000000,149.000000,149.000000,149.000000
mean,5.532839,9.432208,0.814745,64.992799,0.791597,-0.015134,0.727450
std,1.073924,1.158601,0.114889,6.762043,0.113332,0.150657,0.179226
min,2.523000,6.635000,0.463000,48.478000,0.382000,-0.288000,0.082000
25%,4.852000,8.541000,0.750000,59.802000,0.718000,-0.126000,0.667000
50%,5.534000,9.569000,0.832000,66.603000,0.804000,-0.036000,0.781000
75%,6.255000,10.421000,0.905000,69.600000,0.877000,0.079000,0.845000
max,7.842000,11.647000,0.983000,76.953000,0.970000,0.542000,0.939000

In [42]:
q1 = np.percentile(df1["Ladder score"], 25)
q1

4.852

In [44]:
q3 = np.percentile(df1["Ladder score"], 75)
q3

6.255

In [45]:
IQR = q3 -q1
IQR

1.4029999999999996

In [49]:
left = q1 - 1.5 * IQR
left

2.747500000000001

In [51]:
right = q3 + 1.5 * IQR
right

8.359499999999999

In [53]:
left_outlier = df1[df1["Ladder score"] < left]
left_outlier

,Regional indicator,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
Country name,,,,,,,,
Afghanistan,South Asia,2.523,7.695,0.463,52.493,0.382,-0.102,0.924

In [55]:
right_outlier = df1[df1["Ladder score"] > right]
right_outlier

Empty DataFrame
Columns: [Regional indicator, Ladder score, Logged GDP per capita, Social support, Healthy life expectancy, Freedom to make life choices, Generosity, Perceptions of corruption]
Index: []

In [62]:
df1 = df1.drop(["Afghanistan"])

In [63]:
df1.tail(3)

,Regional indicator,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
Country name,,,,,,,,
Botswana,Sub-Saharan Africa,3.467,9.782,0.784,59.269,0.824,-0.246,0.801
Rwanda,Sub-Saharan Africa,3.415,7.676,0.552,61.400,0.897,0.061,0.167
Zimbabwe,Sub-Saharan Africa,3.145,7.943,0.750,56.201,0.677,-0.047,0.821

In [64]:
df1.shape

(148, 8)

In [65]:
df1.isnull().sum()

Regional indicator              0
Ladder score                    0
Logged GDP per capita           0
Social support                  0
Healthy life expectancy         0
Freedom to make life choices    0
Generosity                      0
Perceptions of corruption       0
dtype: int64

In [66]:
df1.columns

Index(['Regional indicator', 'Ladder score', 'Logged GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption'],
      dtype='object')

In [67]:
df1.index

Index(['Finland', 'Denmark', 'Switzerland', 'Iceland', 'Netherlands', 'Norway',
       'Sweden', 'Luxembourg', 'New Zealand', 'Austria',
       ...
       'India', 'Burundi', 'Yemen', 'Tanzania', 'Haiti', 'Malawi', 'Lesotho',
       'Botswana', 'Rwanda', 'Zimbabwe'],
      dtype='object', name='Country name', length=148)

In [68]:
df1["Regional indicator"].value_counts()

Sub-Saharan Africa                    36
Western Europe                        21
Latin America and Caribbean           20
Middle East and North Africa          17
Central and Eastern Europe            17
Commonwealth of Independent States    12
Southeast Asia                         9
East Asia                              6
South Asia                             6
North America and ANZ                  4
Name: Regional indicator, dtype: int64

In [ ]:
# Germany, Ethiopia, Peru, Chad, Japan. Freedom to make life choices, Healthy life expectancy

In [69]:
df1.loc[["Germany", "Ethiopia", "Peru", "Chad", "Japan"],["Freedom to make life choices", "Healthy life expectancy"]]

              Freedom to make life choices  Healthy life expectancy
Country name
Germany                              0.875                   72.500
Ethiopia                             0.752                   59.000
Peru                                 0.822                   68.250
Chad                                 0.579                   48.478
Japan                                0.796                   75.100

In [70]:
df1.loc["Germany"], ["Healthy life expectancy"]

(Regional indicator              Western Europe
 Ladder score                             7.155
 Logged GDP per capita                   10.873
 Social support                           0.903
 Healthy life expectancy                   72.5
 Freedom to make life choices             0.875
 Generosity                               0.011
 Perceptions of corruption                 0.46
 Name: Germany, dtype: object,
 ['Healthy life expectancy'])

In [73]:
df1.iloc[[25,52,65,145],[1,7]]

              Ladder score  Perceptions of corruption
Country name
Saudi Arabia         6.494                      0.684
Hungary              5.992                      0.876
Ecuador              5.764                      0.843
Botswana             3.467                      0.801

- Let's bring the Happiness score from the countries where in Central and Easter Europe countries
- and where perceptions of corruption higher than 0.9

In [78]:
df1["Regional indicator"].value_counts()

Sub-Saharan Africa                    36
Western Europe                        21
Latin America and Caribbean           20
Middle East and North Africa          17
Central and Eastern Europe            17
Commonwealth of Independent States    12
Southeast Asia                         9
East Asia                              6
South Asia                             6
North America and ANZ                  4
Name: Regional indicator, dtype: int64

In [80]:
df1["Regional indicator"].unique()

array(['Western Europe', 'North America and ANZ',
       'Middle East and North Africa', 'Latin America and Caribbean',
       'Central and Eastern Europe', 'East Asia', 'Southeast Asia',
       'Commonwealth of Independent States', 'Sub-Saharan Africa',
       'South Asia'], dtype=object)

In [85]:
df1[(df1["Regional indicator"] == "Central and Eastern Europe") & (df1["Perceptions of corruption"] > 0.9)][["Ladder score"]]

                        Ladder score
Country name
Kosovo                         6.372
Slovakia                       6.331
Romania                        6.140
Croatia                        5.882
Bosnia and Herzegovina         5.813
Bulgaria                       5.266
Albania                        5.117
North Macedonia                5.101

- Let's bring the Happiness score from the countries where in Sub-Saharan Africa countries
- or countries where Healthy life expectancy'lower than 50

In [87]:
df1[(df1["Regional indicator"] == "Sub-Saharan Africa") | (df1["Healthy life expectancy"] < 50)][["Ladder score"]]

                     Ladder score
Country name
Mauritius                   6.049
Congo (Brazzaville)         5.342
Ivory Coast                 5.306
Cameroon                    5.142
Senegal                     5.132
Ghana                       5.088
Niger                       5.074
Gambia                      5.051
Benin                       5.045
Guinea                      4.984
South Africa                4.956
Gabon                       4.852
Burkina Faso                4.834
Mozambique                  4.794
Nigeria                     4.759
Mali                        4.723
Uganda                      4.636
Liberia                     4.625
Kenya                       4.607
Namibia                     4.574
Chad                        4.355
Swaziland                   4.308
Comoros                     4.289
Ethiopia                    4.275
Mauritania                  4.227
Madagascar                  4.208
Togo                        4.107
Zambia                      4.073
Sierra Leone                3.849
Burundi                     3.775
Tanzania                    3.623
Malawi                      3.600
Lesotho                     3.512
Botswana                    3.467
Rwanda                      3.415
Zimbabwe                    3.145

- Let's randomly bring 7 countries with their 'Regional indicator','Ladder score','Perceptions of corruption' scores
- Condition : Those countries are not in Western Europe or their 'Perceptions of corruption' scores are not bigger than 0.66

In [90]:
df1[(df1["Regional indicator"] != "Western Europe") | (df1["Perceptions of corruption"] <= 0.66)][["Regional indicator","Ladder score","Perceptions of corruption"]].sample(7)

,Regional indicator,Ladder score,Perceptions of corruption
Country name,,,
Haiti,Latin America and Caribbean,3.615,0.721
Thailand,Southeast Asia,5.985,0.895
Mali,Sub-Saharan Africa,4.723,0.827
Austria,Western Europe,7.268,0.481
Russia,Commonwealth of Independent States,5.477,0.845
Latvia,Central and Eastern Europe,6.032,0.800
Nigeria,Sub-Saharan Africa,4.759,0.878

In [91]:
df1["new"] = (df1["Ladder score"] + df1["Perceptions of corruption"]) / 2
df1.head(2)

,Regional indicator,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,new
Country name,,,,,,,,,
Finland,Western Europe,7.842,10.775,0.954,72.0,0.949,-0.098,0.186,4.0140
Denmark,Western Europe,7.620,10.933,0.954,72.7,0.946,0.030,0.179,3.8995

In [92]:
df1.drop("new", axis=1, inplace = True)

In [93]:
df1.head(2)

,Regional indicator,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
Country name,,,,,,,,
Finland,Western Europe,7.842,10.775,0.954,72.0,0.949,-0.098,0.186
Denmark,Western Europe,7.620,10.933,0.954,72.7,0.946,0.030,0.179

In [94]:
"new" in df1.columns

False

In [95]:
df1.columns

Index(['Regional indicator', 'Ladder score', 'Logged GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption'],
      dtype='object')

In [141]:
k = {'Regional indicator':"Westen Europe", 'Ladder score':7.6, 'Logged GDP per capita': 10,
       'Social support':0.9, 'Healthy life expectancy':7,
       'Freedom to make life choices':75, 'Generosity':0.3,
       'Perceptions of corruption':0.2}

In [142]:
df1 = df1.append(pd.DataFrame(k,index=["Raife"]))
df1.tail(4)

,Regional indicator,country,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
145,Sub-Saharan Africa,Botswana,3.467,9.782,0.784,59.269,0.824,-0.246,0.801
146,Sub-Saharan Africa,Rwanda,3.415,7.676,0.552,61.400,0.897,0.061,0.167
147,Sub-Saharan Africa,Zimbabwe,3.145,7.943,0.750,56.201,0.677,-0.047,0.821
Raife,Westen Europe,NaN,7.600,10.000,0.900,7.000,75.000,0.300,0.200

In [123]:
df1 = df1.append(pd.DataFrame(k,index=["Emir"]))
df1.tail(10)

,Regional indicator,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
Rwanda,Sub-Saharan Africa,3.415,7.676,0.552,61.400,0.897,0.061,0.167
Zimbabwe,Sub-Saharan Africa,3.145,7.943,0.750,56.201,0.677,-0.047,0.821
Raife,Westen Europe,7.600,10.000,0.900,7.000,75.000,0.300,0.200
Raife,Westen Europe,7.600,10.000,0.900,7.000,75.000,0.300,0.200
Raife,Westen Europe,7.600,10.000,0.900,7.000,75.000,0.300,0.200
Raife,Westen Europe,7.600,10.000,0.900,7.000,75.000,0.300,0.200
Emir,Westen Europe,7.600,10.000,0.900,7.000,75.000,0.300,0.200
Emir,Westen Europe,7.600,10.000,0.900,7.000,75.000,0.300,0.200
Emir,Westen Europe,7.600,10.000,0.900,7.000,75.000,0.300,0.200
Emir,Westen Europe,7.600,10.000,0.900,7.000,75.000,0.300,0.200

In [124]:
for i in df1.index:
    if i == "Emir":
        df1.drop(i, axis = 0, inplace = True)
        break
df1.tail(15)

,Regional indicator,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
Sierra Leone,Sub-Saharan Africa,3.849,7.434,0.630,51.651,0.717,0.084,0.866
India,South Asia,3.819,8.755,0.603,60.633,0.893,0.089,0.774
Burundi,Sub-Saharan Africa,3.775,6.635,0.490,53.400,0.626,-0.024,0.607
Yemen,Middle East and North Africa,3.658,7.578,0.832,57.122,0.602,-0.147,0.800
Tanzania,Sub-Saharan Africa,3.623,7.876,0.702,57.999,0.833,0.183,0.577
Haiti,Latin America and Caribbean,3.615,7.477,0.540,55.700,0.593,0.422,0.721
Malawi,Sub-Saharan Africa,3.600,6.958,0.537,57.948,0.780,0.038,0.729
Lesotho,Sub-Saharan Africa,3.512,7.926,0.787,48.700,0.715,-0.131,0.915
Botswana,Sub-Saharan Africa,3.467,9.782,0.784,59.269,0.824,-0.246,0.801
Rwanda,Sub-Saharan Africa,3.415,7.676,0.552,61.400,0.897,0.061,0.167
Zimbabwe,Sub-Saharan Africa,3.145,7.943,0.750,56.201,0.677,-0.047,0.821
Raife,Westen Europe,7.600,10.000,0.900,7.000,75.000,0.300,0.200
Raife,Westen Europe,7.600,10.000,0.900,7.000,75.000,0.300,0.200
Raife,Westen Europe,7.600,10.000,0.900,7.000,75.000,0.300,0.200
Raife,Westen Europe,7.600,10.000,0.900,7.000,75.000,0.300,0.200

In [129]:
df1.drop("Raife", axis = 0, inplace = True)
df1.tail(15)

,Regional indicator,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
Mauritania,Sub-Saharan Africa,4.227,8.542,0.795,57.161,0.561,-0.106,0.731
Madagascar,Sub-Saharan Africa,4.208,7.396,0.686,59.305,0.552,-0.005,0.803
Togo,Sub-Saharan Africa,4.107,7.362,0.569,54.914,0.619,0.032,0.772
Zambia,Sub-Saharan Africa,4.073,8.145,0.708,55.809,0.782,0.061,0.823
Sierra Leone,Sub-Saharan Africa,3.849,7.434,0.630,51.651,0.717,0.084,0.866
India,South Asia,3.819,8.755,0.603,60.633,0.893,0.089,0.774
Burundi,Sub-Saharan Africa,3.775,6.635,0.490,53.400,0.626,-0.024,0.607
Yemen,Middle East and North Africa,3.658,7.578,0.832,57.122,0.602,-0.147,0.800
Tanzania,Sub-Saharan Africa,3.623,7.876,0.702,57.999,0.833,0.183,0.577
Haiti,Latin America and Caribbean,3.615,7.477,0.540,55.700,0.593,0.422,0.721
Malawi,Sub-Saharan Africa,3.600,6.958,0.537,57.948,0.780,0.038,0.729
Lesotho,Sub-Saharan Africa,3.512,7.926,0.787,48.700,0.715,-0.131,0.915
Botswana,Sub-Saharan Africa,3.467,9.782,0.784,59.269,0.824,-0.246,0.801
Rwanda,Sub-Saharan Africa,3.415,7.676,0.552,61.400,0.897,0.061,0.167
Zimbabwe,Sub-Saharan Africa,3.145,7.943,0.750,56.201,0.677,-0.047,0.821

In [161]:
df1.reset_index(inplace = True)
df1.head(3)

,index,Country name,Regional indicator,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,0,Finland,Western Europe,7.842,10.775,0.954,72.0,0.949,-0.098,0.186
1,1,Denmark,Western Europe,7.620,10.933,0.954,72.7,0.946,0.030,0.179
2,2,Switzerland,Western Europe,7.571,11.117,0.942,74.4,0.919,0.025,0.292

In [162]:
df1.rename({'index': 'country'}, axis = 1, inplace = True)

In [163]:
df1.head()

,country,Country name,Regional indicator,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,0,Finland,Western Europe,7.842,10.775,0.954,72.0,0.949,-0.098,0.186
1,1,Denmark,Western Europe,7.620,10.933,0.954,72.7,0.946,0.030,0.179
2,2,Switzerland,Western Europe,7.571,11.117,0.942,74.4,0.919,0.025,0.292
3,3,Iceland,Western Europe,7.554,10.878,0.983,73.0,0.955,0.160,0.673
4,4,Netherlands,Western Europe,7.464,10.932,0.942,72.4,0.913,0.175,0.338

In [165]:
df1.set_index(["Regional indicator", "country"], inplace = True)
df1.head(10)

                              Country name  Ladder score  \
Regional indicator    country
Western Europe        0            Finland         7.842
                      1            Denmark         7.620
                      2        Switzerland         7.571
                      3            Iceland         7.554
                      4        Netherlands         7.464
                      5             Norway         7.392
                      6             Sweden         7.363
                      7         Luxembourg         7.324
North America and ANZ 8        New Zealand         7.277
Western Europe        9            Austria         7.268

                               Logged GDP per capita  Social support  \
Regional indicator    country
Western Europe        0                       10.775           0.954
                      1                       10.933           0.954
                      2                       11.117           0.942
                      3                       10.878           0.983
                      4                       10.932           0.942
                      5                       11.053           0.954
                      6                       10.867           0.934
                      7                       11.647           0.908
North America and ANZ 8                       10.643           0.948
Western Europe        9                       10.906           0.934

                               Healthy life expectancy  \
Regional indicator    country
Western Europe        0                           72.0
                      1                           72.7
                      2                           74.4
                      3                           73.0
                      4                           72.4
                      5                           73.3
                      6                           72.7
                      7                           72.6
North America and ANZ 8                           73.4
Western Europe        9                           73.3

                               Freedom to make life choices  Generosity  \
Regional indicator    country
Western Europe        0                               0.949      -0.098
                      1                               0.946       0.030
                      2                               0.919       0.025
                      3                               0.955       0.160
                      4                               0.913       0.175
                      5                               0.960       0.093
                      6                               0.945       0.086
                      7                               0.907      -0.034
North America and ANZ 8                               0.929       0.134
Western Europe        9                               0.908       0.042

                               Perceptions of corruption
Regional indicator    country
Western Europe        0                            0.186
                      1                            0.179
                      2                            0.292
                      3                            0.673
                      4                            0.338
                      5                            0.270
                      6                            0.237
                      7                            0.386
North America and ANZ 8                            0.242
Western Europe        9                            0.481

In [167]:
df1.reset_index(inplace = True)
df1.head(10)

,Regional indicator,country,Country name,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,Western Europe,0,Finland,7.842,10.775,0.954,72.0,0.949,-0.098,0.186
1,Western Europe,1,Denmark,7.620,10.933,0.954,72.7,0.946,0.030,0.179
2,Western Europe,2,Switzerland,7.571,11.117,0.942,74.4,0.919,0.025,0.292
3,Western Europe,3,Iceland,7.554,10.878,0.983,73.0,0.955,0.160,0.673
4,Western Europe,4,Netherlands,7.464,10.932,0.942,72.4,0.913,0.175,0.338
5,Western Europe,5,Norway,7.392,11.053,0.954,73.3,0.960,0.093,0.270
6,Western Europe,6,Sweden,7.363,10.867,0.934,72.7,0.945,0.086,0.237
7,Western Europe,7,Luxembourg,7.324,11.647,0.908,72.6,0.907,-0.034,0.386
8,North America and ANZ,8,New Zealand,7.277,10.643,0.948,73.4,0.929,0.134,0.242
9,Western Europe,9,Austria,7.268,10.906,0.934,73.3,0.908,0.042,0.481

In [168]:
df1.set_index(["Regional indicator", "country"], inplace = True)
df1.head(10)

                              Country name  Ladder score  \
Regional indicator    country
Western Europe        0            Finland         7.842
                      1            Denmark         7.620
                      2        Switzerland         7.571
                      3            Iceland         7.554
                      4        Netherlands         7.464
                      5             Norway         7.392
                      6             Sweden         7.363
                      7         Luxembourg         7.324
North America and ANZ 8        New Zealand         7.277
Western Europe        9            Austria         7.268

                               Logged GDP per capita  Social support  \
Regional indicator    country
Western Europe        0                       10.775           0.954
                      1                       10.933           0.954
                      2                       11.117           0.942
                      3                       10.878           0.983
                      4                       10.932           0.942
                      5                       11.053           0.954
                      6                       10.867           0.934
                      7                       11.647           0.908
North America and ANZ 8                       10.643           0.948
Western Europe        9                       10.906           0.934

                               Healthy life expectancy  \
Regional indicator    country
Western Europe        0                           72.0
                      1                           72.7
                      2                           74.4
                      3                           73.0
                      4                           72.4
                      5                           73.3
                      6                           72.7
                      7                           72.6
North America and ANZ 8                           73.4
Western Europe        9                           73.3

                               Freedom to make life choices  Generosity  \
Regional indicator    country
Western Europe        0                               0.949      -0.098
                      1                               0.946       0.030
                      2                               0.919       0.025
                      3                               0.955       0.160
                      4                               0.913       0.175
                      5                               0.960       0.093
                      6                               0.945       0.086
                      7                               0.907      -0.034
North America and ANZ 8                               0.929       0.134
Western Europe        9                               0.908       0.042

                               Perceptions of corruption
Regional indicator    country
Western Europe        0                            0.186
                      1                            0.179
                      2                            0.292
                      3                            0.673
                      4                            0.338
                      5                            0.270
                      6                            0.237
                      7                            0.386
North America and ANZ 8                            0.242
Western Europe        9                            0.481

In [170]:
df1["new"]=df1["Social support"].apply(lambda x:x**2)

In [171]:
df1.head()

                           Country name  Ladder score  Logged GDP per capita  \
Regional indicator country
Western Europe     0            Finland         7.842                 10.775
                   1            Denmark         7.620                 10.933
                   2        Switzerland         7.571                 11.117
                   3            Iceland         7.554                 10.878
                   4        Netherlands         7.464                 10.932

                            Social support  Healthy life expectancy  \
Regional indicator country
Western Europe     0                 0.954                     72.0
                   1                 0.954                     72.7
                   2                 0.942                     74.4
                   3                 0.983                     73.0
                   4                 0.942                     72.4

                            Freedom to make life choices  Generosity  \
Regional indicator country
Western Europe     0                               0.949      -0.098
                   1                               0.946       0.030
                   2                               0.919       0.025
                   3                               0.955       0.160
                   4                               0.913       0.175

                            Perceptions of corruption       new
Regional indicator country
Western Europe     0                            0.186  0.910116
                   1                            0.179  0.910116
                   2                            0.292  0.887364
                   3                            0.673  0.966289
                   4                            0.338  0.887364