In [68]:
# -----------11_DAwPYTH_BP_11_(Pandas)--------------
# ------------GroupBy / Missing Data----------------

In [69]:
# SUMMARY

# groupby method along with aggregation functions
    # mean,
    # standard deviation,
    # max and min,
    # count.
    # sum.
# missing values,
# dropna() method and thresh concept,
# fillna() method and value concept.

In [70]:
import numpy as np
import pandas as pd
import warnings

In [71]:
df = pd.read_csv("mpg.csv")

In [72]:
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [73]:
# Hangi yıllara ait var
df["model_year"].unique()

array([70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82], dtype=int64)

In [74]:
# Hangi yıllardan kaç adet var
df["model_year"].value_counts()

73    40
78    36
76    34
82    31
75    30
70    29
79    29
80    29
81    29
71    28
72    28
77    28
74    27
Name: model_year, dtype: int64

In [75]:
# Model yıllarına göre grupla
df.groupby("model_year")

In [151]:
# Model yıllarına göre grupla ve her sütunda mean bul
df.groupby("model_year").mean().head()

,mpg,cylinders,displacement,weight,acceleration,origin
model_year,,,,,,
70,17.689655,6.758621,281.413793,3372.793103,12.948276,1.310345
71,21.250000,5.571429,209.750000,2995.428571,15.142857,1.428571
72,18.714286,5.821429,218.375000,3237.714286,15.125000,1.535714
73,17.100000,6.375000,256.875000,3419.025000,14.312500,1.375000
74,22.703704,5.259259,171.740741,2877.925926,16.203704,1.666667

In [152]:
# Ortalama mpg her model yılı için
df.groupby("model_year").mean()["mpg"].head()

model_year
70    17.689655
71    21.250000
72    18.714286
73    17.100000
74    22.703704
Name: mpg, dtype: float64

In [153]:
# model_year, cylinders göre grupla ve tüm verilerin mean bul
df.groupby(["model_year", "cylinders"]).mean().head()

                            mpg  displacement       weight  acceleration  \
model_year cylinders
70         4          25.285714    107.000000  2292.571429     16.000000
           6          20.500000    199.000000  2710.500000     15.500000
           8          14.111111    367.555556  3940.055556     11.194444
71         4          27.461538    101.846154  2056.384615     16.961538
           6          18.000000    243.375000  3171.875000     14.750000

                        origin
model_year cylinders
70         4          2.285714
           6          1.000000
           8          1.000000
71         4          1.923077
           6          1.000000

In [79]:
# Hangi columlara uygulanmış gör,
# model_year ve cylinders artık colum değil dikkat edilirse, index oldular
df.groupby(["model_year", "cylinders"]).mean().columns

Index(['mpg', 'displacement', 'weight', 'acceleration', 'origin'], dtype='object')

In [80]:
# Tüm index ihtimallerini gösteriyor
df.groupby(["model_year", "cylinders"]).mean().index

MultiIndex([(70, 4),
            (70, 6),
            (70, 8),
            (71, 4),
            (71, 6),
            (71, 8),
            (72, 3),
            (72, 4),
            (72, 8),
            (73, 3),
            (73, 4),
            (73, 6),
            (73, 8),
            (74, 4),
            (74, 6),
            (74, 8),
            (75, 4),
            (75, 6),
            (75, 8),
            (76, 4),
            (76, 6),
            (76, 8),
            (77, 3),
            (77, 4),
            (77, 6),
            (77, 8),
            (78, 4),
            (78, 5),
            (78, 6),
            (78, 8),
            (79, 4),
            (79, 5),
            (79, 6),
            (79, 8),
            (80, 3),
            (80, 4),
            (80, 5),
            (80, 6),
            (81, 4),
            (81, 6),
            (81, 8),
            (82, 4),
            (82, 6)],
           names=['model_year', 'cylinders'])

In [154]:
# model_year ve cylinders göre indexle ve mpg nin meanini bul
df.groupby(["model_year", "cylinders"]).mean()["mpg"].head()

model_year  cylinders
70          4            25.285714
            6            20.500000
            8            14.111111
71          4            27.461538
            6            18.000000
Name: mpg, dtype: float64

In [155]:
# model_year göre grupladı ve istatistik bilgilerini her sütun için çıkardı
df.groupby("model_year").describe().transpose().head(15)

model_year              70         71         72         73         74  \
mpg       count  29.000000  28.000000  28.000000  40.000000  27.000000
          mean   17.689655  21.250000  18.714286  17.100000  22.703704
          std     5.339231   6.591942   5.435529   4.700245   6.420010
          min     9.000000  12.000000  11.000000  11.000000  13.000000
          25%    14.000000  15.500000  13.750000  13.000000  16.000000
          50%    16.000000  19.000000  18.500000  16.000000  24.000000
          75%    22.000000  27.000000  23.000000  20.000000  27.000000
          max    27.000000  35.000000  28.000000  29.000000  32.000000
cylinders count  29.000000  28.000000  28.000000  40.000000  27.000000
          mean    6.758621   5.571429   5.821429   6.375000   5.259259
          std     1.724926   1.665079   2.073708   1.807215   1.583390
          min     4.000000   4.000000   3.000000   3.000000   4.000000
          25%     6.000000   4.000000   4.000000   4.000000   4.000000
          50%     8.000000   6.000000   4.000000   7.000000   4.000000
          75%     8.000000   6.500000   8.000000   8.000000   6.000000

model_year              75         76         77         78         79  \
mpg       count  30.000000  34.000000  28.000000  36.000000  29.000000
          mean   20.266667  21.573529  23.375000  24.061111  25.093103
          std     4.940566   5.889297   6.675862   6.898044   6.794217
          min    13.000000  13.000000  15.000000  16.200000  15.500000
          25%    16.000000  16.750000  17.375000  19.350000  19.200000
          50%    19.500000  21.000000  21.750000  20.700000  23.900000
          75%    23.000000  26.375000  30.000000  28.000000  31.800000
          max    33.000000  33.000000  36.000000  43.100000  37.300000
cylinders count  30.000000  34.000000  28.000000  36.000000  29.000000
          mean    5.600000   5.647059   5.464286   5.361111   5.827586
          std     1.522249   1.667558   1.815206   1.495761   1.774199
          min     4.000000   4.000000   3.000000   4.000000   4.000000
          25%     4.000000   4.000000   4.000000   4.000000   4.000000
          50%     6.000000   6.000000   4.000000   5.500000   6.000000
          75%     6.000000   7.500000   8.000000   6.000000   8.000000

model_year              80         81         82
mpg       count  29.000000  29.000000  31.000000
          mean   33.696552  30.334483  31.709677
          std     7.037983   5.591465   5.392548
          min    19.100000  17.600000  22.000000
          25%    29.800000  26.600000  27.000000
          50%    32.700000  31.600000  32.000000
          75%    38.100000  34.400000  36.000000
          max    46.600000  39.100000  44.000000
cylinders count  29.000000  29.000000  31.000000
          mean    4.137931   4.620690   4.193548
          std     0.580895   1.082781   0.601074
          min     3.000000   4.000000   4.000000
          25%     4.000000   4.000000   4.000000
          50%     4.000000   4.000000   4.000000
          75%     4.000000   6.000000   4.000000

In [83]:
# model_year ve cylinders göre indexleyip tüm sütunların meanlerini bulduk
year_cyl = df.groupby(["model_year", "cylinders"]).mean()

In [156]:
year_cyl.head()

                            mpg  displacement       weight  acceleration  \
model_year cylinders
70         4          25.285714    107.000000  2292.571429     16.000000
           6          20.500000    199.000000  2710.500000     15.500000
           8          14.111111    367.555556  3940.055556     11.194444
71         4          27.461538    101.846154  2056.384615     16.961538
           6          18.000000    243.375000  3171.875000     14.750000

                        origin
model_year cylinders
70         4          2.285714
           6          1.000000
           8          1.000000
71         4          1.923077
           6          1.000000

In [85]:
# year_cyl gruplamada indexlerin isimlerini yazdırır
year_cyl.index.names

FrozenList(['model_year', 'cylinders'])

In [86]:
# year_cyl gruplamada indexlerin hangi levellarda yapıldığını gösterir
year_cyl.index.levels

FrozenList([[70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82], [3, 4, 5, 6, 8]])

In [87]:
# 70 model olanları getir
year_cyl.loc[70]

                 mpg  displacement       weight  acceleration    origin
cylinders
4          25.285714    107.000000  2292.571429     16.000000  2.285714
6          20.500000    199.000000  2710.500000     15.500000  1.000000
8          14.111111    367.555556  3940.055556     11.194444  1.000000

In [88]:
# 70 ve 82 olanları getir
year_cyl.loc[[70,82]]

                            mpg  displacement       weight  acceleration  \
model_year cylinders
70         4          25.285714    107.000000  2292.571429     16.000000
           6          20.500000    199.000000  2710.500000     15.500000
           8          14.111111    367.555556  3940.055556     11.194444
82         4          32.071429    118.571429  2402.321429     16.703571
           6          28.333333    225.000000  2931.666667     16.033333

                        origin
model_year cylinders
70         4          2.285714
           6          1.000000
           8          1.000000
82         4          1.714286
           6          1.000000

In [89]:
# 70 model 4 silindirli araçları gösterir
year_cyl.loc[(70, 4)]

mpg               25.285714
displacement     107.000000
weight          2292.571429
acceleration      16.000000
origin             2.285714
Name: (70, 4), dtype: float64

In [90]:
# model_year leveldaki 70 olan key levelını getir
# Burada 2 tane key yazamayız bunu .loc[] ile yapabilirsin
year_cyl.xs(key=70, level="model_year")

                 mpg  displacement       weight  acceleration    origin
cylinders
4          25.285714    107.000000  2292.571429     16.000000  2.285714
6          20.500000    199.000000  2710.500000     15.500000  1.000000
8          14.111111    367.555556  3940.055556     11.194444  1.000000

In [91]:
year_cyl.loc[[70,80]]

                            mpg  displacement       weight  acceleration  \
model_year cylinders
70         4          25.285714    107.000000  2292.571429     16.000000
           6          20.500000    199.000000  2710.500000     15.500000
           8          14.111111    367.555556  3940.055556     11.194444
80         3          23.700000     70.000000  2420.000000     12.500000
           4          34.612000    111.000000  2360.080000     17.144000
           5          36.400000    121.000000  2950.000000     19.900000
           6          25.900000    196.500000  3145.500000     15.050000

                        origin
model_year cylinders
70         4          2.285714
           6          1.000000
           8          1.000000
80         3          3.000000
           4          2.200000
           5          2.000000
           6          2.000000

In [92]:
# 4 cylinders olanları getirme 
four_cyl = year_cyl.xs(key=4, level="cylinders")

In [93]:
four_cyl

                  mpg  displacement       weight  acceleration    origin
model_year
70          25.285714    107.000000  2292.571429     16.000000  2.285714
71          27.461538    101.846154  2056.384615     16.961538  1.923077
72          23.428571    111.535714  2382.642857     17.214286  1.928571
73          22.727273    109.272727  2338.090909     17.136364  2.000000
74          27.800000     96.533333  2151.466667     16.400000  2.200000
75          25.250000    114.833333  2489.250000     15.833333  2.166667
76          26.766667    106.333333  2306.600000     16.866667  1.866667
77          29.107143    106.500000  2205.071429     16.064286  1.857143
78          29.576471    112.117647  2296.764706     16.282353  2.117647
79          31.525000    113.583333  2357.583333     15.991667  1.583333
80          34.612000    111.000000  2360.080000     17.144000  2.200000
81          32.814286    108.857143  2275.476190     16.466667  2.095238
82          32.071429    118.571429  2402.321429     16.703571  1.714286

In [157]:
# önce "df[df["cylinders"].isin([6,8])]" ile filtrele,
# sonra "groupby(["model_year", "cylinders"])" ile grupla
# sonra da mean al buna göre
df[df["cylinders"].isin([6,8])].groupby(["model_year", "cylinders"]).mean().head(10)

                            mpg  displacement       weight  acceleration  \
model_year cylinders
70         6          20.500000    199.000000  2710.500000     15.500000
           8          14.111111    367.555556  3940.055556     11.194444
71         6          18.000000    243.375000  3171.875000     14.750000
           8          13.428571    371.714286  4537.714286     12.214286
72         8          13.615385    344.846154  4228.384615     13.000000
73         6          19.000000    212.250000  2917.125000     15.687500
           8          13.200000    365.250000  4279.050000     12.250000
74         6          17.857143    230.428571  3320.000000     16.857143
           8          14.200000    315.200000  4438.400000     14.700000
75         6          17.583333    233.750000  3398.333333     17.708333

                      origin
model_year cylinders
70         6            1.00
           8            1.00
71         6            1.00
           8            1.00
72         8            1.00
73         6            1.25
           8            1.00
74         6            1.00
           8            1.00
75         6            1.00

In [95]:
year_cyl.head()

                            mpg  displacement       weight  acceleration  \
model_year cylinders
70         4          25.285714    107.000000  2292.571429     16.000000
           6          20.500000    199.000000  2710.500000     15.500000
           8          14.111111    367.555556  3940.055556     11.194444
71         4          27.461538    101.846154  2056.384615     16.961538
           6          18.000000    243.375000  3171.875000     14.750000

                        origin
model_year cylinders
70         4          2.285714
           6          1.000000
           8          1.000000
71         4          1.923077
           6          1.000000

In [96]:
# Index Levelları swap yapabilirsin
year_cyl.swaplevel().head()

,,mpg,displacement,weight,acceleration,origin
cylinders,model_year,,,,,
4,70,25.285714,107.000000,2292.571429,16.000000,2.285714
6,70,20.500000,199.000000,2710.500000,15.500000,1.000000
8,70,14.111111,367.555556,3940.055556,11.194444,1.000000
4,71,27.461538,101.846154,2056.384615,16.961538,1.923077
6,71,18.000000,243.375000,3171.875000,14.750000,1.000000

In [97]:
# İndexteki dilediğin levelda asc veya dsc yapabilirsin
year_cyl.sort_index(level="model_year", ascending=False).head(10)

                            mpg  displacement       weight  acceleration  \
model_year cylinders
82         6          28.333333    225.000000  2931.666667     16.033333
           4          32.071429    118.571429  2402.321429     16.703571
81         8          26.600000    350.000000  3725.000000     19.000000
           6          23.428571    184.000000  3093.571429     15.442857
           4          32.814286    108.857143  2275.476190     16.466667
80         6          25.900000    196.500000  3145.500000     15.050000
           5          36.400000    121.000000  2950.000000     19.900000
           4          34.612000    111.000000  2360.080000     17.144000
           3          23.700000     70.000000  2420.000000     12.500000
79         8          18.630000    321.400000  3862.900000     15.400000

                        origin
model_year cylinders
82         6          1.000000
           4          1.714286
81         8          1.000000
           6          1.714286
           4          2.095238
80         6          2.000000
           5          2.000000
           4          2.200000
           3          3.000000
79         8          1.000000

In [98]:
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [114]:
# Tüm columlar için std ve mean göster
df.agg(["std", "mean"])

C:\Users\engin\AppData\Local\Temp\ipykernel_17108\2907782452.py:2: FutureWarning: ['horsepower', 'name'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  df.agg(["std", "mean"])

,mpg,cylinders,displacement,weight,acceleration,model_year,origin
std,7.815984,1.701004,104.269838,846.841774,2.757689,3.697627,0.802055
mean,23.514573,5.454774,193.425879,2970.424623,15.568090,76.010050,1.572864

In [100]:
# Sadece "mpg" için std ve mean göster
df.agg(["std", "mean"])["mpg"]

C:\Users\engin\AppData\Local\Temp\ipykernel_17108\2988388551.py:2: FutureWarning: ['horsepower', 'name'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  df.agg(["std", "mean"])["mpg"]

std      7.815984
mean    23.514573
Name: mpg, dtype: float64

In [101]:
# Her columda farklı istatistik talebinde kullanılır
# hesap yapılmayan alanlar NaN olur
df.agg({"mpg":["max", "mean"], "weight":["mean", "std"]})

            mpg       weight
max   46.600000          NaN
mean  23.514573  2970.424623
std         NaN   846.841774

In [137]:
data = pd.DataFrame([('bird', 389.0),
                     ('bird', 40.0),
                     ('bird', 405.0),
                     ('mammal', 80.2),
                     ('mammal', 12.0),
                     ('mammal', 58)],
                     index=['falcon', 'parrot', 'eagle', 'lion', 'monkey', 'leopard'],
                     columns=('class', 'speed'))
data

          class  speed
falcon     bird  389.0
parrot     bird   40.0
eagle      bird  405.0
lion     mammal   80.2
monkey   mammal   12.0
leopard  mammal   58.0

In [138]:
data.groupby("class").max()

        speed
class
bird    405.0
mammal   80.2

In [139]:
data.groupby("class").mean()

             speed
class
bird    278.000000
mammal   50.066667

In [140]:
data = pd.DataFrame({'A':[3,np.nan,np.nan],
                     'B':[5,7,np.nan],
                     'C':[4,2,7]})
data

     A    B  C
0  3.0  5.0  4
1  NaN  7.0  2
2  NaN  NaN  7

In [141]:
data.dropna(inplace=True)

In [142]:
data

     A    B  C
0  3.0  5.0  4

In [143]:
data.dropna(axis=0, inplace=True)

In [144]:
data

     A    B  C
0  3.0  5.0  4

In [148]:
data = pd.DataFrame({'A':[3,np.nan,np.nan],
                     'B':[5,7,np.nan],
                     'C':[4,2,7]})
data

     A    B  C
0  3.0  5.0  4
1  NaN  7.0  2
2  NaN  NaN  7

In [149]:
data['B'].fillna(value=data['B'].mean(), inplace=True)

In [150]:
data

     A    B  C
0  3.0  5.0  4
1  NaN  7.0  2
2  NaN  6.0  7